.hourWeather {
    width: 30%;
    border-radius: 6px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.236);
    margin-top: 15%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #FFCC70;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    opacity: 0.75;
    transform: scale(0.99);
    transition: 0.2s all ease-in-out;
    text-shadow: 2px 2px 10px #FFCC70;
    text-align: center;
}

.hourWeather:hover {
    opacity: 1;
    transform: scale(1);
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    display: block;
    margin: 0.01vh;
    font-family: "Lato";
}

.description {
    font-weight: 400;
    line-height: 1;
    font-size: 1vw;
}

.time-container {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFCC70;

}

.hour-icon {
    height: 3vw;
    width: auto;
}

p.hourTemp {
    font-weight: 800;
    font-size: 1vw;
    color: #FFCC70;
    line-height: 2;

}

.time {
    font-weight: 300;
    line-height: 2;
    padding-top: 1vh;
    font-size: 0.8vw;
    text-align: center;
}

.hourly-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 1.4vh;
    row-gap: 0px;
    column-gap: 0.1vh;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto auto;
    padding: 5px 15px;
    font-size: 1vw;
    transition: 0.2s all ease-in-out;
    transition: 0.2s position ease-in-out;
    position: absolute;
    opacity: 0;
}

.hourly-details-grid.visible {
    opacity: 1;
    position: static;
}

.hourly-details-grid-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
}