.forecast-container {
    margin-left: 2%;
    width: 93%;

}

.forecast-title {
    display: block;
    font-size: 23px;
    font-weight: 700;
    color: #28398e;
    margin-top: 10px;
    position: relative;
    left: 3%;
}

.daily-item {
    background-color: #f9f9f9;
    border-radius: 6px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
    box-shadow: 2px 2px 5px #33333367;
    opacity: 0.75;
    transform: scale(0.99);
    transition: 0.2s all ease-in-out;
    
}

.daily-item:hover {
    opacity: 1;
    transform: scale(1);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}
.daily-item:hover .day{
    color:#FFCC70;
}
.icon-small {
    width: 40px;
    height: auto;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding:5px 15px;
}
.daily-details-grid-item{
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-evenly;
    border-right: 1px solid #3333331b;
    border-left: 1px solid #3333331b;
    width:95%;
}
.daily-details-grid-desc{
    color:#333333bf;
}
.daily-details-grid-value{
    color:#333333f4;
}