.weather-container {
    margin-top: 10;
    transition: 10s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather {
    flex: 1 1;
    width: 70%;
    border-radius: 6px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.236);
    padding: 2vh;
    margin-top: 15%;
    display: flex;
    transition: 5s all ease-in-out;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFCC70;

}

.city {
    font-weight: 300;
    line-height: 1;
    font-size: 1vw;
}

.left p {
    display: block;
    margin: 0.2vh;
    font-family: "Lato";
}

.current-weather-description {
    font-weight: 400;
    line-height: 1;
    font-size: 2vw;
}

.left {
    padding-left: 5%;
    width: 60%;
}

.description-container {
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather-icon {
    height: 5vw;
    width: auto;
}

.right {
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    border-left: 1px solid #7575753b;
    color: #757575;
}

.right-items {
    padding: 0.2vh;
}

.temperature {
    font-weight: 800;
    font-size: 2.5vw;
    color: #FFCC70;
}

.parameter-row {
    margin: 5px;
}

.parameter-label {
    font-weight: 400;
}

.details {
    padding-top: 1vw;
    font-size: 1vw;
}

.description-container {
    color: #FFCC70;
}





/* DAY */

.weather.light {

    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe,
        -40px -40px 60px #ffffff,inset 5px 5px 5px #bebebe;
        
}
.weather.light .right{
    border-left:none;
}
.weather.light .description-container,
.weather.light .description {
    color: #E1795F;
}

.weather.light .temperature {
    color: #E1795F;

}

.weather.light .right {
    color: #007185;
}