
.weather{
    width: 90%;
    border-radius: 6px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.236);
    padding:2vh;
    margin-top:15%;
    margin-left:3%;
    display:flex;
    transition: 5s all ease-in-out;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color:#FFCC70;
}
.city{
    font-weight: 300;
    line-height: 1;
    font-size: 2vh;
}
.left p{
    display: block;
    margin: 0.2vh;
    font-family: "Lato";
}
.description{
    font-weight: 400;
    line-height:1;
    font-size:1vh;
}

.left{
    padding-left: 5%;
    width: 60%;
}
.description-container{
    font-size:1.8vh;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.weather-icon{
    height:10vh;
    width: auto;
}
.right{
    display:flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    border-left: 1px solid #3333331b;
    color:#3333335a;
}
.right-items{
    padding:0.2vh;
}
.temperature{
    font-weight: 800;
    font-size:2.5vh;
    color:#FFCC70;
}
.parameter-row{
    margin:5px;
}
.parameter-label{
    font-weight:400;
}
.details{
    padding-top: 1vh;
    font-size:2vh;
}
.description-container{
    color:#FFCC70;
}