.search-container{
    width:55%;
    padding-left: 20%;
    padding-top:50%;
    height:100vh;
    
}
.title{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px  #232323;
    font-family: "Lato";
    font-weight: bold;
}
h1{
    text-shadow: 5px 15px 20px 2px #333;
}
.search-bar{
    transform: scale(0.99);
    transition:0.2s all ease-in-out;
}
.search-bar:hover{
    transform: scale(1);
}
