.search-container{
    width:55%;
    padding-left: 20%;
    padding-top:50%;
    height:100vh;
    
}
.title{
    text-align: center;
    color: white;
    font-family: "Lato";
    
}
h1{
    text-shadow: 5px 15px 20px 2px #333;
}