
.container {
  margin: auto;
  margin:2% auto 10px auto;
  width: 85vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #e1e4f5;
  overflow: hidden;
  box-shadow: 2px  2px 20px 2px #222222;
  opacity: 0.99;
}

.search {
  margin: 0px;
  height:100%;
  padding:0px;
  /*background-image: url('heroImage4_blur.jpg');*/
  background-color:aqua;
  background-size:cover;
  background-position: center;
  flex:1 1;
  border-radius: 15px;
}
.weatherSide{
  width:55%;
  flex: 1 1;
  height:100%;
  background-color: #e1e4f5;
}
.weatherSide h1{
  font-size:2.5vw;
  color:#333;
  font-weight: bold;
  padding-left:1vh;
  top:5vw;
  position: relative;
}